frontend/node_modules
backend/node_modules
.DS_Store
**/__snapshots__
backend/.env
frontend/.env
kafka-backend/.env
kafka-backend/node_modules
kafka-backend/kafka_2.11-1.1.0/F:Kafkakafka_2.11-1.1.0kafka-logs
kafka-backend/kafka_2.11-1.1.0/Kafkakafka_2.11-1.1.0kafka-logs
kafka-backend/kafka_2.11-1.1.0/logs
